body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark-text {
  color: #2e2f42;
}
.logo-light-text {
  color: #f4f4fd;
}
.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.main-section {
  background-color: #2e2f42;
}
.team-section {
  background-color: #f4f4fd;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.order-btn {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.section-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-list-item {
  background-color: #fff;
}
.footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
